<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Init</title>
		<style media="screen">
			table {
				width: 40%;
			}

			th {
			    background-color: #4CAF50;
			    color: white;
			}

			th, td{
				text-align: center;
			}

			tr:nth-child(even) {
				background-color: #f2f2f2
			}
		</style>
    </head>

    <body>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Link</th>
				<th>Observaciones</th>
			</tr>
			<tr>
				<td>Docxtojson</td>
				<td><a href="//localhost:8080/upload">link</a></td>
				<td>kljdsflkjsdlkjfldsjflkjf</td>
			</tr>
		</table>
    </body>

</html>
